@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light-purple-color: #8854c0;
    --light-color: #fff;
    --dark-color: #000;
    --gray-color: #f2f2f2;
    --transition: all 300ms ease-in-out;
}


.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    color: var(--dark-color);
    background-color: var(--gray-color);
}

.wrapper {
    background-color: var(--light-color);
    padding: 1.5rem 4rem 3rem 4rem;
    width: 600px;
    height: 680px;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem; 
}

