@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light-pink-color: #F05BA8;
    --dark-pink-color: #A32E6A;
    --blue-color-contrast: #43DCF0;
    --dark-blue-color: #3697A3;
    --light-color: #fff;
    --dark-color: #000;
    --gray-color: #f2f2f2;
    --transition: all 300ms ease-in-out;
}


.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    color: var(--dark-color);
    background-color: var(--gray-color);
}

.wrapper {
    background-color: var(--light-color);
    padding: 1.5rem 4rem 3rem 4rem;
    width: 600px;
    height: 680px;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem; 
    position: relative;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 /10%);
}

.quiz-title{
    text-align: center;
    font-size: 2rem;
}
.quiz-score{
    text-align: right;
    font-weight: 600rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: 5px solid var(--gray-color);
    width: 100px;
    height: 50px;
    margin: .5rem auto;
    color: var(--light-pink-color);
}

.quiz-question {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.quiz-question .category {
    font-size: 0.9rem;
}

